<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Document</h1>

  <%=yield %> <!-- yield references the index.erb -->

  <footer>
    @copy; 2017
  </footer>
</body>
</html>
