<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css"> dont need to put public
  <title>Document</title>
</head>
<body>

  <%= Time.now %>

  <h1>here is your pizza</h1>

</body>
</html>
