.card {
  border-radius: 10px;
  background-color: mistyrose;
  padding: 10px 0;
  flex-grow: 1;
}

.content {
  padding: 5px;
}

.card img {
  width: 100%;
}

.wrapper {
  display: flex;
  background-color: linen;

}


.card .image{
  background-color: linen;
  margin: 0 auto;

}

.card header {
  text-align: center;
  background-color: pink;
}

.card footer {
 text-align: center;
}

.card .delete-action {
  cursor: pointer;
}

.card .edit-action {
  cursor: pointer;
}

.barby {
  background-color: brown;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*flex-start // flex -end*/
}

.barby div {
  height: 100px;
}

.chicken {
  background-color: pink;
}


.pineapple {
  background-color: yellow;
}

.tomato {
  background-color: tomato;
}
